/******************************THEME DETAILS******************************/

/*  #DE7852  #0b160c  #32513C  #506f5a  #C7D1CA  #F0F2F1  */
/*
font-family: 'Euphoria Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Lora',serif;
*/


/*******************************MEDIA QUERIES*******************************/

@media screen and (max-width: 991px) {
  .nav-bar a {
    line-height: 4rem;
  }
}

@media screen and (max-width: 450px) {
  body {
      width: 200%;
      height: 200%;
      transform-origin: top left;
      transform: scale(50%);
    }
  html {
    height: 0;
  }
  p {
    font-size: 2rem;
    margin-left: 7%;
    margin-right: 7%;
  }
  a {
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
} 

@media screen and (min-width: 450px) {
  p {
    margin-left: 3%;
    margin-right: 3%;
  }
}



/******************************TAG SELECTORS******************************/


body {
  background-color: #C7D1CA;
  margin: 0;
  font-family: 'Lora', serif;
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}



hr {
  margin: 0 auto 15px;
  border-color: #32513C;
  border-style: none;
  border-top-style: solid;
  border-width: 1px;
  width: 5%;
}

h1 {font-family: 'Lato', sans-serif;}
h2 {font-family: 'Lato', sans-serif; color: #32513C;}
h3 {font-family: 'Lato', sans-serif; color: #32513C;}
h4 {font-family: 'Lato', sans-serif; color: #506f5a;}
h5 {font-family: 'Lato', sans-serif; color: #506f5a;}
h6 {font-family: 'Lato', sans-serif; color: #506f5a;}

a {text-decoration: none; color: #C7D1CA;}


/*****************************CLASS SELECTORS*****************************/

::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: none;
}

.nav-container {
  background-image: url("../images/nav-bg.png");
  padding: .5% 2% .5% 0;
  min-height: 100%;
  height: auto;
}

.nav-bar {
  opacity: 100%;
}

.nav-bar ul {
  list-style-type: none;
  
}

.nav-bar a {
  color: #C7D1CA;
  padding: 14px 12px;
}

.nav-bar a:hover {
  background-color: #000;
  border-radius: 15px;
}

.top-container {
  background-image: url("../images/website-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  height: 100%;
  color: #C7D1CA;
  text-shadow:
      -1px -1px 0 #0b160c,
      1px -1px 0 #0b160c,
      -1px 1px 0 #0b160c,
      1px 1px 0 #0b160c;
  padding-top: 45.99%;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.title {  
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 100%;
  text-align: center;
}

.title h1 {
  margin: 0;
  font-family: 'Euphoria Script', cursive;
  font-size: 130px;
}

.title h2 {
  padding: 0;
  margin: 0;
  font-size: 40px; 
  color: #C7D1CA;
  font-weight: lighter;
}


.pie {
  --b: 9px;
  /* change this to change the thickness of the circles */
  display: inline-grid;
  width: 130px;
  aspect-ratio: 1;
  /* so I only have to change one number if I want to change the size */
  border-radius: 50%;
  /* makes the shape a circle >50. 25 makes a rounded square */
  background-image: conic-gradient(transparent var(--d), #32513C 0);
  /* fills clockwise */
  border-width: 10px;
  border: #0b160c;
  place-content: center;
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  margin: 0 15px 5px;
}

.skills {
  overflow-x: auto;
  padding-bottom: 10px;
  text-align: center;
}

.skills p {
  margin: 0 auto 20px;
  padding: 0 0 10px;
}






.bottom-container {
  background-color: #506f5a;
  color: #C7D1CA;
  padding: 9px 0 7px;
  margin-top: 10px;
}

.bottom-container a {
  color: #C7D1CA;
  padding: 10px;
  margin: 5px 0;
}

.bottom-container p {
  margin: 7px auto 0 
}

.bottom-container a:hover {
  background-color: #32513C;
  border-radius: 10px;
}

/*******************************ID SELECTORS*******************************/


#filler-img {  /*  transparent image counts as content so the div sizes to it. I could probably make this opaque and delete the bg, but I don't want to  */
  vertical-align: top;
  width: 100%;
  visibility: hidden;

}

